/* Generic Class Styles */
.no-border { border: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Generic Global */
html {
	background: rgb(206,220,231);
	background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%) no-repeat #596a72;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))) no-repeat #596a72;
	background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%) no-repeat #596a72;
	background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%) no-repeat #596a72;
	background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%) no-repeat #596a72;
	background: linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%) no-repeat #596a72;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
	height: 100%;
}
body {
	height: 100%;
}
a, a:link,
a:focus, a:hover,
a:active, a:visited {
	outline: none;
	text-decoration: none;
	color: #5F6D90;
}

strong { font-weight: bold; }
em { font-style:italic; }
p { 
	margin-bottom: 10px; 
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-family: 'Lora', serif; font-size: 22px; } 
h2 { font-family: 'Lora', serif; font-size: 20px; } 
h3 { font-family: 'Lora', serif; font-size: 18px; } 
h4 { font-family: 'Lora', serif; font-size: 16px; } 
h5 { font-family: 'Lora', serif; font-size: 14px; } 
h6 { font-family: 'Lora', serif; font-size: 13px; }

/* Layout Styles */
.column-layout .column {
    float: left;
	overflow: hidden;
}

.column-layout .layout-wrapper { padding: 10px; }
.column-layout .column-wrapper { padding: 10px; }

.two-column-layout .column { width: 50%; }
.three-column-layout .column { width: 33%; }
.four-column-layout .column { width: 25%; }

/* Form */
form { clear: both; }
form fieldset {
	border: 1px solid #BCBCBC;
    margin-bottom: 20px;
    padding: 10px;
}

form legend { 
	font-size: 14px; 
	font-weight: bold;	
}

form label { 
	font-weight: bold; 
	display: inline;
	font-family: Helvetica, Verdana, sans-serif, Arial;
	float: left;
	font-size: 13px;
	padding: 15px 15px 15px 0;
}

form .form-row { margin-bottom: 10px; }

form .error {
	color: #CC3300;
	border-color: #CC3300;
}

form .form-field { padding-left: 100px; }
form .no-label .form-field { padding-left: 0; }
form .form-field label { float: none; }

form .form-field .field-images { width: 400px; }
form .form-field .field-images .field-image { 
	float: left;
	display: inline;
	margin-right: 20px;
    margin-top: 10px;
}

form .form-field .field-images .field-image img { 
	float: left;
	display: inline;
}

form input.text, 
form input.password, 
form select, 
form textarea {
	width: 400px;
	padding: 3px;
}

form input.half-size,  
form select.half-size, 
form textarea.half-size {
	width: 197px;
}

form .hint { color: #A9A9A9; }

form .date select {
	width: auto;
}

form .form-field-note { 
	color: #666666;
	display: block;
	width: 400px;
}

/* Lists */
ul.two-column li,
ol.two-column li {
	float: left;
	width: 50%;
}


ul.three-column li,
ol.three-column li {
	float: left;
	width: 33%;
}


ul.four-column li,
ol.four-column li {
	float: left;
	width: 25%;
}

/* Table */
table { margin-top: 20px; }
th {
	background-color: #EFEFEF; 
	border-bottom: 1px solid #999999;
	font-weight: bold;
	padding: 20px 10px 5px; 
}
td {
	background-color: #EFEFEF;
	border-bottom: 1px solid #999999;
	padding: 5px 10px; 
}
tr.row-zebra td { background-color: #FFFFFF; }
tr.row-inactive td { color: #999999; }

/* Page */
.page {
	background-color: #FFFFFF;
	border: 1px solid #232323;
	color: #222222;
	font-family: 'Lato', san-serif;
	font-size: 13px;
	margin: 20px auto;
	padding: 10px;
	width: 1000px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
} 

.page .head { 
	padding-left: 90px;
	background: url(/assets/images/logo.png) no-repeat 0 5px transparent;
	border-bottom: 1px solid #CCC;
}

.page .body {
	padding-top: 20px;
}

.page .foot {
	border-top: 1px solid #989898;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}

/* Page Head */
.page .head h1 {}
.page .head h1 a { 
	color: #222;
	font-size: 20px;
	font-family: 'Lora', serif; 
}

.page .body .column-1 ul > li { list-style: none; }
.page .head .menu a { margin-right: 20px; }

/* Page: API */
.api .three-column-layout { width: 100%; }
.api .three-column-layout .column-1 { width: 20%; }
.api .three-column-layout .column-2 { width: 60%; }
.api .three-column-layout .column-3 { width: 20%; }

.api .three-column-layout .column-3 h3,
.api .three-column-layout .column-1 h3 {margin-bottom: 10px;}

.api .three-column-layout ol,
.api .three-column-layout ul { 
	line-height: 20px;
}

.api .three-column-layout .column-2 .crumbs { margin: 5px 0 10px 0; }
.api .three-column-layout .column-2 .class { padding-right: 10px; }

.api .three-column-layout .column-2 ol,
.api .three-column-layout .column-2 ul { 
	font-style: italic;
	padding-left: 40px;
}

.api .three-column-layout .column-2 .class h4,
.api .three-column-layout .column-2 .class h3 { margin: 10px 0;}
.api .three-column-layout .column-2 .class h6 { 
	margin-top: 10px; 
	font-weight: normal;
}
.api .three-column-layout .column-2 .method {
	border-bottom: 1px solid #999999; 
	padding: 10px 15px;
}
.api .three-column-layout .column-3 .log {
	border-bottom: 1px solid #999999; 
	padding: 10px;
}
.api .three-column-layout .column-3 .log .meta { 
	font-size: 10px; 
	margin-bottom: 15px;
}

.api .three-column-layout .column-2 .method-zebra { background-color: #EFEFEF; }
.api .three-column-layout .column-3 .log-zebra { background-color: #EFEFEF; }
.api .folder { 
	list-style: none; 
	padding-left: 20px;
	background: url(/assets/images/book.gif) no-repeat 0 3px transparent;
}
.api .file { 
	list-style: none; 
	padding-left: 20px;
	background: url(/assets/images/code.gif) no-repeat 0 3px transparent;
}
/* Page: Documentation */
.download .two-column-layout,
.documentation .two-column-layout { width: 100%; }

.download .two-column-layout .column-1, 
.documentation .two-column-layout .column-1 { width: 25%; }

.download .two-column-layout .column-2, 
.documentation .two-column-layout .column-2 { width: 75%; }

.download .two-column-layout .column-1 ol,
.documentation .two-column-layout .column-1 ol {
	line-height: 20px; 
	padding-left: 35px; 
}

.download .two-column-layout .column-1 ul,
.documentation .two-column-layout .column-1 ul { 
	line-height: 20px;
	padding-left: 15px; 
}

.download .two-column-layout .column-2 h3, 
.documentation .two-column-layout .column-2 h3 { 
	clear: both; 
	padding-top: 10px;
}
.documentation .two-column-layout .column-2 h4 { margin: 20px 0 5px; }
.documentation .two-column-layout .column-2 p {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	margin: 5px 0 10px;
}
.documentation .two-column-layout .column-2 ul,
.documentation .two-column-layout .column-2 ol {
	margin: 5px 0 5px 40px;
	line-height: 24px;
}
.documentation .two-column-layout .column-2 li {}
.documentation .two-column-layout .column-2 .error {
	border-top: 1px solid salmon;
	border-bottom: 1px solid salmon;
	margin: 5px 0;
	padding: 10px;
	background-color: #FCC;
	width: 100%;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 1px;
}
.documentation .two-column-layout .column-2 .error .icon {
	width: 42px;
	height: 42px;
	float: left;
	background: url(/assets/images/book-sprite.png) no-repeat 0 0 transparent;
	margin-right: 10px;
}
.documentation .two-column-layout .column-2 .tip {
	border-top: 1px solid #36F;
	border-bottom: 1px solid #36F;
	margin: 5px 0;
	padding: 10px;
	background-color: #D8F6F6;
	width: 100%;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 1px;
}
.documentation .two-column-layout .column-2 .tip .icon {
	width: 42px;
	height: 42px;
	float: left;
	background: url(/assets/images/book-sprite.png) no-repeat 0 -100px transparent;
	margin-right: 10px;
}
.documentation .two-column-layout .column-2 .warning {
	border-top: 1px solid #FC9;
	border-bottom: 1px solid #FC9;
	margin: 5px 0;
	padding: 10px;
	background-color: #FFC;
	width: 100%;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 1px;
}
.documentation .two-column-layout .column-2 .warning .icon {
	width: 42px;
	height: 42px;
	float: left;
	background: url(/assets/images/book-sprite.png) no-repeat 0 -50px transparent;
	margin-right: 10px;
}
.documentation .two-column-layout .column-2 .note { 
	border: 1px solid #CCC; 
	margin: 5px 0;
}
.documentation .two-column-layout .column-2 .note h5 {
	background: #FC9;
	padding: 10px 15px;
	border-bottom: 1px solid #CCC;
}
.documentation .two-column-layout .column-2 .note span {
	background: #EFEFEF;
	display: block;
	padding: 10px 15px;
}
.documentation .two-column-layout .column-2 sub {
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 17px;
	margin: 5px 0 0;
}
.documentation .two-column-layout .column-2 p sub {
	display: inline;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
} 
.documentation .two-column-layout .column-2 .example { 
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	margin: 0 0 5px; 
}

.documentation .two-column-layout .column-2 .prev { float: left; }
.documentation .two-column-layout .column-2 .next { float: right; }

/* Page: Download */

.download .two-column-layout .column-2 h3 { padding-top: 25px;}
.download .two-column-layout .column-2 h4 { margin: 5px 0; }
.download .two-column-layout .column-2 form .submit {
	font-weight: bold;
    padding: 5px;
}